@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,1;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: rgb(233, 233, 233);
    color: whitesmoke;
    font-family: "Ysabeu";
}

.title{
    height: 80px;
    width: 70%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: lato;
    font-size: 25pt;
}

.photo{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;  
}
.imagem-intelectual{
    opacity: 0.4;
    border-style: initial;
}

.about-me{
    color: black;
    margin: 2rem;
    font-family: lato;
    font-size: 25pt;
}

.text-page  {
    height: 300px;
    width: 100%;
    background-color: black;
    display: flex;
}

.text-page p{
    font-size: 15pt;
    font-family: "Ysabeu";
    margin: 4rem;
}

.curiosity{
    color: black;
    margin: 2rem;
    font-family: lato;
    font-size: 25pt;
}

section{
    display: flex;
    height: 300px;
    justify-content: center;
}

.photo-lua{
    display: flex;
    padding: 20px;   
}

.photo-rihanna{
    display: flex;
    padding: 20px;
}

.presentation{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    font-family: "Ysabeu";
    margin: 4rem;

}
.more-about-me{
    color: black;
    margin: 2rem;
    font-family: lato;
    font-size: 25pt;
}

address{
    height: 120px;
    width: 70%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copyrigth p{
    color: black;
    opacity: 0.3;
    display: flex;
    justify-content: center;

}